*{
    font-family: 'Patrick Hand', cursive;
    
}

body{
    background: rgb(242,233,225);
    background: linear-gradient(131deg, rgba(242,233,225,1) 0%, rgba(235,188,186,1) 100%);
    background-attachment: fixed;
}

/*Style for 'ABOUT' and 'DOCS'*/
.top-Menu{
    top: 0px;  
    position: sticky;  
}
.top-Menu ul{
    gap:1rem;
    display:flex;
    justify-content: flex-end;
    padding:5px;
}
.top-Menu a{
    color:#403d52;
    font-family: 'Kalam', cursive;
}
.top-Menu a:hover{
    text-shadow: 0px 1px 16px #f2e9e1;
    color: #908caa;
    transition-duration: 0.4s;
}



/*Style for the Footer text*/
#footer{
    text-align: center;
    position:fixed;
    bottom:0;
    height: 40px;
    width: 100%;  
    z-index: -1; 
}


/*Style for Create Button in index.html*/
.create-button-div{
    width: 75%;
    display:flex;
    justify-content: center;    
}
.create-note-button{
    color: #403d52;
    border-radius: 12px;
    padding:10px 15px;
    transition-duration: 0.4s;
}
.create-note-button:hover{
    background-color: #ebbcba;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




/*Style for Textbox in note.html*/
.text-div{
    display:flex;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 5px;
}
textarea {
    line-height: 1.5;
    border-radius: 10px;
    width: 60%;
    height: 391px;
    border: 5px outset #908caa;
    box-shadow: 7px 7px 1px #403d52;
    font-size: 18px;;
    resize:none; 
    font-family: 'Kalam', cursive;
}